POSTGRES_USER=warehouse
POSTGRES_PASSWORD=change_me_locally
POSTGRES_DB=warehouse
POSTGRES_HOST=localhost
POSTGRES_PORT=15432

METABASE_PORT=3000
METABASE_READER_PASSWORD=change_me_locally
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me_locally
PGADMIN_PORT=5051
